<h2>
  <a class="home" href="/">Home</a>
</h2>
<ul id="polls">
    <li class="poll"
        <p class="message">{{ rate }}</p>
        <abbr class="timestamp">
            <a class="permalink" href="/{{id}}/">{{ timestamp }}</a>
        </abbr>
    </li>
</ul>
