header {
  nav {
    .emblem {
      top: 595px;
    }
  }
}
#wrapper {
   height: 755px;
   #polls {
        width: 874px;
        .poll {
            article {
                height: 630px;
            }
        }
    }
}