header {
  nav {
    .emblem {
      top: 780px;
    }
  }
}
#wrapper {
   height: 885px;
   #polls {
        width: 600px;
        .poll {
            article {
                height: 775px;

                .results {
                width: 230px;
                &.multiple {
                  padding-right: 0px;
                  .answers_col { width: 100%; float: none;}
               }
            }
            }
        }
    }
}