#wrapper {
   #polls {
      .poll {

         article {
            height: 885px;
            
            .results {
                width: 240px;
                &.multiple {
                  padding-right: 0px;
                  .answers_col { width: 100%; float: none;}
               }
            }
         }
      }
   }
}