<form class="pollForm" id="poll_{{ id }}">
   <article class="ratingStep">
         <h2>{{rating_container_label}}</h2>

         <fieldset class="{{rating_label_1}}">
            <div class="ratingbuttons">
               <a href="" class="radio">1</a>
               <a href="" class="radio">2</a>
               <a href="" class="radio">3</a>
               <a href="" class="radio">4</a>
               <a href="" class="radio">5</a>
            </div>
            <label for="rating_label_1">{{rating_label_1}}</label>
            <input class="rating_data_1" type="hidden" name="rating_label_1" value="0" >
         </fieldset>

         <fieldset class="{{rating_label_2}}">
            <div class="ratingbuttons">
               <a href="" class="radio">1</a>
               <a href="" class="radio">2</a>
               <a href="" class="radio">3</a>
               <a href="" class="radio">4</a>
               <a href="" class="radio">5</a>
            </div>
            <label for="rating_label_2">{{rating_label_2}}</label>
            <input class="rating_data_2" type="hidden" name="rating_label_2" value="0" >
         </fieldset>

         <fieldset class="{{rating_label_3}}">
            <div class="ratingbuttons">
               <a href="" class="radio">1</a>
               <a href="" class="radio">2</a>
               <a href="" class="radio">3</a>
               <a href="" class="radio">4</a>
               <a href="" class="radio">5</a>
            </div>
            <label for="rating_label_3">{{rating_label_3}}</label>
            <input class="rating_data_3" type="hidden" name="rating_label_3" value="0" >
         </fieldset>

         <fieldset class="{{rating_label_4}}">
            <div class="ratingbuttons">
               <a href="" class="radio">1</a>
               <a href="" class="radio">2</a>
               <a href="" class="radio">3</a>
               <a href="" class="radio">4</a>
               <a href="" class="radio">5</a>
            </div>
            <label for="rating_label_4">{{rating_label_4}}</label>
            <input class="rating_data_4" type="hidden" name="rating_label_4" value="0" >
         </fieldset>

         <button type="button" class='nextStep'>Next Step</button>
   </article>

   <article class="multiStep">
         <h2>{{multiple_container_label}}</h2>

         <fieldset>
            <a href="" class="radio">a</a><span>{{multiple_answer_1}}</span>
         </fieldset>

         <fieldset>
            <a href="" class="radio">b</a><span>{{multiple_answer_2}}</span>
         </fieldset>

         <fieldset>
            <a href="" class="radio">c</a><span>{{multiple_answer_3}}</span>
         </fieldset>

         <fieldset>
            <a href="" class="radio">d</a><span>{{multiple_answer_4}}</span>
         </fieldset>

         <fieldset>
            <a href="" class="radio">e</a><span>{{multiple_answer_5}}</span>
         </fieldset>

         <fieldset class="essay {{essay_question_label}}">
            <strong>{{essay_question_label}}</strong><br />
            <textarea class="essay_answer"></textarea>
         </fieldset>

         <input class="multi_choice" type="hidden" name="multi_choice" value="default" >

         <button type="button" class='nextStep stageSave'>Next Step</button>
   </article>

   <article class='resultsStep'>
      <h2>You have completed the Poll</h2>
      <p>
      Registered respondents will be entered into a drawing for an iPod Nano. Project Evolution will also select the most interesting responses for a grand prize of $25,000 worth of design/ development. Be sure to complete <strong>all three sections</strong> for a greater chance to win. More chances to be considered for the grand prize can be submitted to MyJobWouldBeEasierIf.com.
      </p>
      <fieldset class="contact_info name">
         <label>Full Name</label>
         <input class="full_name" name="full_name" type="text">
      </fieldset>

      <fieldset class="contact_info email">
         <label>Work Email</label>
         <input class="work_email" name="work_email" type="email">
      </fieldset>

      <fieldset class="contact_info workplace">
         <label>Company</label>
         <input class="company" name="company" type="text">
      </fieldset>

      <fieldset class="saveResults">
         <button class="stageSave" type="button">View Results</button>
         <button class="savePoll none" type="button">Save Poll Trigger</button>
      </fieldset>

    </article>
</form>