<div class="poll">
    <article class="splash">
        <img src="/static/img/splash-logo.png" >
        
        <div class="start-bar">
            <div class="col">
                <h2>A sample piece of text to implement in the template as a simulation.</h2>
            </div>
            <div class="col">
                <button class="nextStep start-button">Start Poll!</button>
            </div>
        </div>
    </article>
</div>