@import "blueprint";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// @include blueprint-ie

//Recommended Blueprint configuration with scoping and semantic layout:
body.bp {
  @include blueprint-ie(true);
  // Note: Blueprint centers text to fix IE6 container centering.
  // This means all your texts will be centered under all version of IE by default.
  // If your container does not have the .container class, don't forget to restore
  // the correct behavior to your main container (but not the body tag!)
  // Example:
  // .my-container
  //   text-align: left
}

.ie8 {
  .page-container .site-content .dynamic-content .most-viewed-courses,
  .page-container .site-content .dynamic-content .recent-courses,
  .page-container .site-content .dynamic-content .reccomended-courses {
  	ul.courses {
  		li { 
  			display: block;
  			width: 200px;
  			min-height: 80px;
  			font-size: 14px;
  			font-weight: bold;
  			padding: 10px;
  			color: #333;
  			line-height: 20px;
  			border: solid 1px #eee;
  			margin: 5px 15px 5px 0px;
  			.summary {
  				padding-top: 5px;
  				font-size: 10px;
  				color: #666;
  				line-height: 12px;
  			}
  		}
  		li:first-child { 
  			padding-left: 15px;
  		}
  
  	}
  }
  .page-container .site-content .dynamic-content .search-courses {
  	.search-module {
  		input.field {
  			width: 215px !important;
  		} 
  	}
  }
}

.ie7 {
  .page-container .site-content {
    aside {
      position: absolute;
    }
    .page-content { 
  		article { border: none; }
    }
  }
}
