/* line 1, ../sass/landscape.scss */
#wrapper {
  height: 755px;
}
/* line 3, ../sass/landscape.scss */
#wrapper #polls {
  width: 874px;
}
/* line 6, ../sass/landscape.scss */
#wrapper #polls div article {
  height: 630px;
}
