/* line 1, ../sass/portrait.scss */
fieldset {
  border-top: 1px solid #666;
  color: #ccc;
  margin-bottom: 8px;
  padding: 10px 0;
}

/* line 8, ../sass/portrait.scss */
label {
  display: block;
  line-height: 1.7em;
}
/* line 14, ../sass/portrait.scss */
label strong {
  color: #fff;
}

/* line 18, ../sass/portrait.scss */
#wrapper {
  height: 885px;
}
/* line 22, ../sass/portrait.scss */
#wrapper #polls .poll article {
  height: 775px;
  padding: 40px 40px;
}
/* line 26, ../sass/portrait.scss */
#wrapper #polls .poll article .resultsStep .contact_info {
  float: none;
  width: 100%;
}
/* line 33, ../sass/portrait.scss */
#wrapper #polls .poll article .multiStep .essay {
  margin-top: 15px;
  textarea: margin-top 10px;
}
/* line 36, ../sass/portrait.scss */
#wrapper #polls .poll article .results {
  width: 230px;
}
/* line 38, ../sass/portrait.scss */
#wrapper #polls .poll article .results.multiple {
  padding-right: 0px;
}
/* line 40, ../sass/portrait.scss */
#wrapper #polls .poll article .results.multiple .answers_col {
  width: 100%;
  float: none;
}
/* line 43, ../sass/portrait.scss */
#wrapper #polls .poll article .results .labels.long {
  padding-left: 35px;
}
/* line 45, ../sass/portrait.scss */
#wrapper #polls .poll article .results .labels.long strong {
  width: 30px;
  display: inline-block;
}
/* line 48, ../sass/portrait.scss */
#wrapper #polls .poll article .results .labels.long strong:last-child {
  width: 9px;
}
/* line 51, ../sass/portrait.scss */
#wrapper #polls .poll article .results .labels.short {
  padding-left: 31px;
}
/* line 53, ../sass/portrait.scss */
#wrapper #polls .poll article .results .labels.short strong {
  width: 42px;
  display: inline-block;
}
/* line 56, ../sass/portrait.scss */
#wrapper #polls .poll article .results .labels.short strong:last-child {
  width: 10px;
}
