<article>
    <form class="resultsStep">
        <fieldset class="contact_info">
            <label>Full Name</label>
            <input class="full_name" name="full_name" type="text" >
        </fieldset>

        <fieldset class="contact_info">
            <label>Full Name</label>
            <input class="work_email" name="work_email" type="email" >
        </fieldset>
        <input class="submitRaffle" type="submit" value="Enter Raffle">
        <input class="viewResults" type="submit" value="View Results">
    </form>
</article>