<article>
    <form class="resultsStep">
        <h2>Thank you for your participation</h2>
        <p>
        Respondents will be entered into a drawing for an iPod Nano. Project Evolution will also se- lect the most interesting responses for a grand prize of $25,000 worth of design/development.
        </p>
        <fieldset class="contact_info name">
            <label>Full Name</label>
            <input class="full_name" name="full_name" type="text" >
        </fieldset>

        <fieldset class="contact_info email">
            <label>Work Email</label>
            <input class="work_email" name="work_email" type="email" >
        </fieldset>

        <fieldset class='opt_in'>
            <span class='hint'>
                <input type="checkbox" name='user_opt_flag' class='user_opt_flag'> 
                <input class="user_opt" name="user_opt" type="hidden" value='false' >
                Opt-in to get more information about the $25,000 grand prize
            </span>
        </fieldset>
        
        <input class="submitRaffle" type="submit" value="Enter Raffle">

        <fieldset class='opt_out'>
        <h2>No thanks&hellip;</h2>
        <p>
        If you do not wish to be entered in the raffle you can still view the results by clicking below.
        </p>
        </fieldset>

        <input class="viewResults" type="submit" value="View Results">
    </form>
</article>