<div id="input">
  <strong>Rate Me</strong>
  <div id="ratings">
      <input type="radio" name="rate" value="1">&nbsp;1
      <input type="radio" name="rate" value="2">&nbsp;2
      <input type="radio" name="rate" value="3">&nbsp;3
      <input type="radio" name="rate" value="4">&nbsp;4
      <input type="radio" name="rate" value="5">&nbsp;5
  </div>
  <button class="poll">Rate</button>
</div>
<h2>Timeline</h2>
<ul id="polls">
</ul>
