<article>
    <form>
        <h2>{{multiple_container_label}}</h2>

        <fieldset class="multiple_choice">
            <a href="" class="radio">a</a> <strong>{{multiple_answer_1}}</strong>
        </fieldset>

        <fieldset class="multiple_choice">
            <a href="" class="radio">b</a><strong>{{multiple_answer_2}}</strong>
        </fieldset>

        <fieldset class="multiple_choice">
            <a href="" class="radio">c</a><strong>{{multiple_answer_3}}</strong>
        </fieldset>

        <fieldset class="multiple_choice">
            <a href="" class="radio">d</a><strong>{{multiple_answer_4}}</strong>
        </fieldset>

        <fieldset class="multiple_choice">
            <a href="" class="radio">d</a><strong>All of the above</strong>
        </fieldset>

        <input class="submitMulti" type="submit" value="Submit Choice">
    </form>
</article>