<fieldset>
    <label for="multiple_answer">{{multiple_container_label}}</label>
       
    <input type="hidden" name="multiple_answer" value="{{mutiple_answer_1}}">
    <input type="hidden" name="multiple_answer" value="{[mutiple_answer_2}}">
    <input type="hidden" name="multiple_answer" value="{{mutiple_answer_3}}">
    <input type="hidden" name="multiple_answer" value="{{mutiple_answer_4}}">
    <input type="hidden" name="multiple_answer" value="All of the above.">

    <a href="" class="radio">{{mutiple_answer_1}}</a>
    <a href="" class="radio">{{mutiple_answer_2}}</a>
    <a href="" class="radio">{{mutiple_answer_3}}</a>
    <a href="" class="radio">{{mutiple_answer_4}}</a>
    <a href="" class="radio">All of the above</a>
</fieldset>