<article>
    <form class="multiStep">
        <h2>{{multiple_container_label}}</h2>

        <fieldset class="multiple_choice">
            <a href="" class="radio">a</a> <strong>{{multiple_answer_1}}</strong>
        </fieldset>

        <fieldset class="multiple_choice">
            <a href="" class="radio">b</a><strong>{{multiple_answer_2}}</strong>
        </fieldset>

        <fieldset class="multiple_choice">
            <a href="" class="radio">c</a><strong>{{multiple_answer_3}}</strong>
        </fieldset>

        <fieldset class="multiple_choice">
            <a href="" class="radio">d</a><strong>{{multiple_answer_4}}</strong>
        </fieldset>

        <fieldset class="multiple_choice">
            <a href="" class="radio">d</a><strong>All of the above</strong>
        </fieldset>

        <fieldset class="essay">
            <strong>{{essay_question_label}}</strong><br />
            <textarea class="essay_answer"></textarea>
        </fieldset>

        <input class="multi_choice" type="hidden" name="multi_choice" value="default" >
        <input class="submitMulti" type="submit" value="Submit Choice">
    </form>
</article>