<article>
  <form class="ratingStep">
      <h2>{{rating_container_label}}</h2>

      <fieldset class="rating_choice_1">
         <label for="rating_label_1">{{rating_label_1}}</label>
         <a href="" class="radio">1</a>
         <a href="" class="radio">2</a>
         <a href="" class="radio">3</a>
         <a href="" class="radio">4</a>
         <a href="" class="radio">5</a>
         <input class="rating_data" type="hidden" name="rating_label_1" value="0" >
      </fieldset>

      <fieldset class="rating_choice_2">
         <label for="rating_label_2">{{rating_label_2}}</label>
         <a href="" class="radio">1</a>
         <a href="" class="radio">2</a>
         <a href="" class="radio">3</a>
         <a href="" class="radio">4</a>
         <a href="" class="radio">5</a>
         <input class="rating_data" type="hidden" name="rating_label_2" value="0" >
      </fieldset>

      <fieldset class="rating_choice_3">
         <label for="rating_label_3">{{rating_label_3}}</label>
         <a href="" class="radio">1</a>
         <a href="" class="radio">2</a>
         <a href="" class="radio">3</a>
         <a href="" class="radio">4</a>
         <a href="" class="radio">5</a>
         <input class="rating_data" type="hidden" name="rating_label_3" value="0" >
      </fieldset>

      <fieldset class="rating_choice_4">
         <label for="rating_label_4">{{rating_label_4}}</label>
         <a href="" class="radio">1</a>
         <a href="" class="radio">2</a>
         <a href="" class="radio">3</a>
         <a href="" class="radio">4</a>
         <a href="" class="radio">5</a>
         <input class="rating_data" type="hidden" name="rating_label_4" value="0" >
      </fieldset>

      <input class="submitRatings" type="submit" value="Submit Ratings">
  </form>
</article>