<fieldset>
    <label for="intranet-design"><strong>{{title}}</strong> - {{question}}</label>

    <input type="radio" name="intra-design" value="1"> 1 
    <input type="radio" name="intra-design" value="2"> 2 
    <input type="radio" name="intra-design" value="3"> 3 
    <input type="radio" name="intra-design" value="4"> 4 
    <input type="radio" name="intra-design" value="5"> 5 

    <!--
    <a href="" class="radio">1</a>
    <a href="" class="radio">2</a>
    <a href="" class="radio">3</a>
    <a href="" class="radio">4</a>
    <a href="" class="radio">5</a>
    -->
</fieldset>