<form>
    <h2>How would you rate your Intranet on a scale of 1 <em>(poor)</em> to 5 <em>(perfect)</em> in the following categories?</h2>
    {{rateApp}}
    <input type="submit" value="Submit Ratings">
</form>