<article>
    <form>
        <fieldset class="{{rating_label_1}}">
            <a class="radio">{{question1_avg}}</a>{{rating_label_1}}
        </fieldset>

        <fieldset class="{{rating_label_2}}">
            <a class="radio">{{question2_avg}}</a>{{rating_label_2}}
        </fieldset>

        <fieldset class="{{rating_label_3}}">
            <a class="radio">{{question3_avg}}</a>{{rating_label_3}}
        </fieldset>

        <fieldset class="{{rating_label_4}}">
            <a class="radio">{{question4_avg}}</a>{{rating_label_4}}
        </fieldset>

        <h2>{{multiple_container_label}}</h2>

        <fieldset class="{{multiple_answer_1}}">
            <a class="radio">{{multianswr1_num}}</a>{{multiple_answer_1}}
        </fieldset>

        <fieldset class="{{multiple_answer_2}}">
            <a class="radio">{{multianswr2_num}}</a>{{multiple_answer_2}}
        </fieldset>

        <fieldset class="{{multiple_answer_3}}">
            <a class="radio">{{multianswr3_num}}</a>{{multiple_answer_3}}
        </fieldset>

        <fieldset class="{{multiple_answer_4}}">
            <a class="radio">{{multianswr4_num}}</a>{{multiple_answer_4}}
        </fieldset>
        
    </form>
</article>