<article>
    <form class="resultsStep">
        <fieldset class="full_name">
            <label>Full Name</label>
            <input class="full_name" name="full_name" type="text" >
        </fieldset>

        <fieldset class="work_email">
            <label>Full Name</label>
            <input class="work_email" name="work_email" type="email" >
        </fieldset>

        <input class="submitRaffle" type="submit" value="Enter Raffle">
    </form>
</article>