
#wrapper {
   height: 755px;
   #polls {
        .poll {
            article {
                height: 630px;
                .results {
                    .labels {
                        padding-left: 42px; 
                        &.long { 
                            strong { 
                                width: 60px;
                                display: inline-block;
                                &:last-child { width: 18px; } 
                            }
                        }
                        &.short { 
                            strong { 
                                width: 84px;
                                display: inline-block;
                                &:last-child { width: 18px; }
                            }
                        }
                    }
                }
            }
        }
    }
}