fieldset {
   border-top: 1px solid #666;
   color: #ccc;
   margin-bottom: 8px;
   padding: 10px 0;
}

label {
   display: block;
   line-height: 1.7em;
   
   strong {
      color: #fff;
   }
}
#wrapper {
   height: 910px;
   #polls {
        .poll {
          .splash {
            text-align: center;
            img { margin-top: 125px; margin-bottom: 50px; }
            .start-bar {
               height: 200px;
               .col { 
                  .start-button { margin-top: 65px; }
               }
            }
          }
            article {
                height: 800px;
                padding: 40px 40px;
                margin-bottom: 150px;
                .resultsStep {
                    .contact_info {
                        float: none;
                        width: 100%;
                    }
                }

                .results {
                    h3 { margin-top: .5em; }
                    .labels {
                        &.long { 
                            padding-left: 38px;
                            strong { 
                                width: 48px;
                                display: inline-block;
                                &:last-child { width: 9px; } 
                            }
                        }
                    }
                    .multiple {
                      .pollForm { 
                            width: 310px; 
                      }
                      span { font-size: .85em; }
                    }

                  .ratings {
                    .rate_bar {
                       width:100%;
                    }
                  }
                }
            }
        }
    }
}