header {
  nav {
    .emblem {
      top: 780px;
    }
  }
}
#wrapper {
   height: 885px;
   #polls {
        width: 600px;
        .poll {
            width: 594px;
            article {
                height: 775px;
                .resultsStep {
                    .contact_info {
                        float: none;
                        width: 100%;
                    }
                }
                .results {
                    width: 230px;
                    &.multiple {
                        padding-right: 0px;
                        .answers_col { width: 100%; float: none;}
                    }
                    .labels {
                        &.long { 
                            padding-left: 35px;
                            strong { 
                                width: 30px;
                                display: inline-block;
                                &:last-child { width: 9px; } 
                            }
                        }
                        &.short { 
                            padding-left: 31px; 
                            strong { 
                                width: 42px;
                                display: inline-block;
                                &:last-child { width: 10px; } 
                            }
                        }
                    }
                }
            }
        }
    }
}