fieldset {
   border-top: 1px solid #666;
   color: #ccc;
   margin-bottom: 8px;
   padding: 10px 0;
}

label {
   // color: #ccc;
   display: block;
   line-height: 1.7em;
   // padding-right: 150px;
   
   strong {
      color: #fff;
   }
}
#wrapper {
   height: 885px;
   #polls {
        .poll {
            article {
                height: 775px;
                padding: 40px 40px;
                .resultsStep {
                    .contact_info {
                        float: none;
                        width: 100%;
                    }
                }

                .multiStep {
                    .essay { margin-top: 15px; textarea: margin-top 10px; }
                }

                .results {
                    width: 230px;
                    &.multiple {
                        padding-right: 0px;
                        .answers_col { width: 100%; float: none;}
                    }
                    .labels {
                        &.long { 
                            padding-left: 35px;
                            strong { 
                                width: 30px;
                                display: inline-block;
                                &:last-child { width: 9px; } 
                            }
                        }
                        &.short { 
                            padding-left: 31px; 
                            strong { 
                                width: 42px;
                                display: inline-block;
                                &:last-child { width: 10px; } 
                            }
                        }
                    }
                }
            }
        }
    }
}